[submodule "Dependencies/cbrewer2"]
	path = Dependencies/cbrewer2
	url = https://github.com/scottclowe/cbrewer2.git
[submodule "Dependencies/matlab"]
	path = Dependencies/matlab
	url = https://github.com/maheump/matlab.git
[submodule "Dependencies/VBA-toolbox"]
	path = Dependencies/VBA-toolbox
	url = https://github.com/MBB-team/VBA-toolbox.git
